body { margin: 60px auto; width: 80%; opacity: 1; transition: 1s opacity;}

a { text-decoration: none; color: #999; }
a:hover { text-decoration: underline; }

b { font-size: 1.6em; text-decoration: none; color: #999; }
b:hover { text-decoration: underline; }

p, ul { font-size: 1.2em; line-height: 1.1em; color: #333; }
 

h1, h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 3em;  }
h2 { font-size: 2.7em; }
h3 { font-size: 2.3em; }
h3:hover { text-decoration: underline; }
h4 { font-size: 1.9em; }

nav ul {font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold; }
footer ul { font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold; }
nav ul li { display: inline; margin-right: 20px; }
footer ul li { display: inline; margin-right: 20px; }

footer { border-top: 1px solid #d5d5d5; font-size: .8em; }

/* Blog */
ul.posts { margin: 20px auto 40px; font-size: 1.5em; }
ul.posts li { list-style: none; }

div { opacity: 1; transition: 1s opacity; }

/* CV */
.cv { margin: 0px 0px 60px; }
.cv h1 { font-size: 3em; }
.cv h2 { font-size: 2em; }
.cv address, .cv .download { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
.cv address, .cv p { font-size: 1.2em; }
.cv .download { float: right; font-size: .8em; text-transform: uppercase; }

.blurb {
  position: relative;
}

.blog_container {
  position: fixed;
  right = 0;
  left = 0;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  position: relative;
  width: 800px;
  height: auto;
  max-width: 100000px;
  overflow: hidden;
  background-position: center; 
  }


.container_large {
  margin-left: 1%;
  margin-right: 1%; 
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  position: relative;
  width: 98%;
  height: 300px;
  max-width: 10000px;
  overflow: hidden;
  background-position: center; 
  }

.container {
  margin-left: 1%;
  margin-right: 1%; 
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  position: relative;
  width: 48%;
  height: 300px;
  max-width: 10000px;
  overflow: hidden;
  background-position: center;
  }

.containerleft {
  margin-left: 2%;
  margin-right: 2%; 
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  position: relative;
  width: 26%;
  height: 30%;
  max-width: 10000px;
  background-position: center;
  }

.containerright{
  margin-left: 2%;
  margin-right: 2%; 
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  position: relative;
  width: 66%;
  height: 30%;
  max-width: 10000px;
  background-position: center;
  }

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: white;
}

.gaps {
  min-height:30px;
}

.text {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}

.container_large:hover .overlay {
  opacity: 1;
}

.content {
  min-height: 1000px;
}


div.fade {
    opacity: 0;
    transition: none;
}

.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: block
}


.h_spacer {
    color: white;
    width: 100%;
    height: 25px;
}

